
body{
	background-color: #ffffff;
}
#logobox{
	float: auto;
	text-align: center;

}

#box{
	float:auto;
	text-align: center;
}
#search{
	
	padding:20px;
}
.input{
	margin:0px;
	padding: 5px 15px;
	font-family: Arial;
	font-size: 14px;
	border: 1px solid black;
	
}
.button{
	margin: 0px;
	padding: 5px 15px;
	font-family: Arial;
	font-size: 14px;
	outline: none;
	cursor:pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border:1px solid black;
	background: #0095cd;
}
.button:hover{
	text-decoration: none;
	background:#2B65EC;
}

